#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  color: blanchedalmond;
  font-family: verdana;
  text-align: center;
  font-size: 30px;
}

body {
  background-color: lightslategrey;
}

h1 {
  color: azure;
  font-family: verdana;
  text-align: center;
}

h2 {
  color: azure;
  font-family: verdana;
  text-align: center;
}

p {
  color: azure;
  font-family: verdana;
  font-size: 20px;
}

a {
  color: blanchedalmond;
  font-family: verdana;
  font-size: 20px;
}

img {
  width: 254px;
}

button {
  background-color: lightslategrey;
  color: azure;
  font-size: 20px;
  border: 2px solid azure;
}