#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#topnav {
  background-color: azure;
  text-align: center;
}

#topnav a {
  float: center;
  color: lightslategrey;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  font-family: verdana;
  font-size: 20px;
}

#achievement-container {
  color: blanchedalmond;
  font-family: verdana;
  font-size: 20px;
}

body {
  background-color: lightslategrey;
}

h1 {
  color: azure;
  font-family: verdana;
  text-align: center;
}

h2 {
  color: azure;
  font-family: verdana;
  text-align: center;
}

h3 {
  color: azure;
  font-family: verdana;
  text-align: center;
}

h4 {
  color: azure;
  font-family: verdana;
  text-align: center;
}

p {
  color: azure;
  font-family: verdana;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

a {
  color: blanchedalmond;
  font-family: verdana;
  font-size: 20px;
}

img {
  width: 254px;
  margin-top: 25px;
}

button {
  background-color: lightslategrey;
  color: azure;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid azure;
  margin-left: 25px;
  margin-bottom: 25px;
}

table {
   background-color: lightslategrey;
   color: azure;
   border: 1px solid azure;
   font-family: verdana;
   width: 750px;
   margin-left: auto;
   margin-right: auto;
}

td {
    padding:20px 15px;
}

ul {
    color: azure;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

li {
    padding:20px 15px;
}

form {
    color: azure;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

input, textarea {
    background-color: blanchedalmond;
    color: lightslategrey;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

#comment-text {
    height: 150px;
    width: 400px;
}

#submit-comment {
    background-color: lightslategrey;
    color: azure;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid azure;
    margin-left: auto;
    margin-bottom: auto;
}